<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Procesos</title>
</head>
<body>
	<form th:object="${ProcesoFecha}" th:action="@{/resultadoProceso}" method="post">
		<label for="ffecha1">Primera Fecha:</label><br>
		<input type="date" id="ffecha1" th:field="*{fecha1}"><br>
		<label for="ffecha2">Segunda Fecha:</label><br>
		<input type="date" id="ffecha2" th:field="*{fecha2}"><br>
		<input type="submit" value="Ingresar">
	</form>

</body>
</html>